
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: $headings-color;
  text-rendering: optimizelegibility;
}
$font-size-base: 1rem;
h1, h2, h3,
.h1, .h2, .h3 {
  margin-bottom: $serif-headings-margin-bottom;
  font-family: $serif-headings-font-family;
  font-weight: $serif-headings-font-weight;
  line-height: $serif-headings-line-height;
}

h4,
.h4 {
  margin-bottom: $sans-serif-headings-margin-bottom;
  font-family: $sans-serif-font-family;
  font-weight: 600;
  line-height: $sans-serif-headings-line-height;
}
h5, h6,
.h5, .h6 {
  margin-bottom: $sans-serif-headings-margin-bottom;
  font-family: $sans-serif-font-family;
  font-weight: ($sans-serif-headings-font-weight - 100);
  line-height: $sans-serif-headings-line-height;
}

h1, .h1 { font-size: $h1-font-size; }
h2, .h2 { font-size: $h2-font-size; }
h3, .h3 { font-size: $h3-font-size; }
h4, .h4 { font-size: $h4-font-size; }
h5, .h5 { font-size: $h5-font-size; }
h6, .h6 { font-size: $h6-font-size; }

.sh {
  font-weight: 400;
  color: $mid-grey;
  font-size: $font-size-base;
}

// .card-price h6 {
//   color: $primary;
//   font-weight: 600;
// }

.small-text {
  font-size: 0.875rem;
}

.text-font {
  font-family: $sans-serif-font-family;
}

a, input, small, label, p {
  font-family: $text-font-stack;
}
