.donor-testimonials-wrapper{
    width: 100%;
    background-color: #f2f2f2;
    padding: 40px 0 60px;
}
.donor-testimonials{
    .dtm-header{
        margin: 0 0 30px;
        h2{
            font-size: 1.5rem;
        }
        .dtm-header-bar{
            width: 50px;
            height: 3px;
            background-color: #ff5050;
        }
    }
    .dtm-items-container{
        position: relative;
    }
    .dtm-items{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .dtm-items-img{
            width: 48%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
                height: 100%;
                border-radius: 8px;
            }
        }
        .dtm-items-content{
            width: 48%;
            flex-grow: 0;
            .dtm-items-cta{
                color: #ff5050;
                font-size: 1.25rem;
                margin: 20px 0 0;
                display: inline-block;
            }
            .dtm-beneficiary{
                display: flex;
                align-items: center;
                margin: 20px 0 0;
                .img-wrapper{
                    height: 70px;
                    width: 70px;
                    border-radius: 50%;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 15px 0 0;
                    img{
                        height: 100%;
                    }
                }
                .dtm-beneficiary-bio{
                    h3{
                        font-size: 1.2rem;
                        font-weight: bold;
                        margin: 0 0 6px;
                    }
                    h4{
                        color: #777777;
                        font-size: .87rem;
                        text-transform: capitalize;
                    }
                    span{
                        color: #666666;
                    }
                }
            }
        }
    }
    .slick-dots{
        bottom: -50px;
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                margin: 0 10px 0 0;
                .dot-item{
                    width: 8px;
                    height: 8px;
                    border-radius: 4px;
                    background-color: #c4c4c4;
                }
                &:last-child{
                    margin: 0;
                }
                &.slick-active{
                    .dot-item{
                        background-color: #ff5050;
                    }
                }
            }
        }
    }
    .dtm-arrow{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #ffffff;
        box-shadow: 1px 1px 6px 4px rgba(0,0,0,.2);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        cursor: pointer;
        .dtm-arrow-svg{
            width: 22px;
            fill: #ff5050;
        }
    }
    .dtm-arrow:hover{
        background-color: #ff5050;
        .dtm-arrow-svg{
            fill: #ffffff;
        }
    }
    .arrow-prev{
        left: -8%;
        top: 50%;
        transform: translateY(-50%);
    }
    .arrow-next{
        right: -8%;
        top: 50%;
        transform: translateY(-50%);
    }
}
@media (max-width: 1199px) {
    .donor-testimonials{
        .dtm-items{
            .dtm-items-content{
                p{
                    font-size: 1rem;
                }
                .dtm-items-cta{
                    font-size: 1.12rem;
                    margin: 10px 0 0;
                }
                .dtm-beneficiary{
                    margin: 10px 0 0;
                }
            }
        }
    }
}
@media (max-width: 1023px) {
    .donor-testimonials{
        .dtm-items{
            flex-direction: column;
            .dtm-items-img{
                width: 100%;
                margin: 0 0 20px;
            }
            .dtm-items-content{
                width: 100%;
            }
        }
        .dtm-arrow{
            display: none;
        }
        .slick-dots{
            ul{
                li{
                    font-size: 1.12rem;
                }
            }
        }
    }
}
@media (max-width: 767px) {
}